{{ block "head" . }}
<head>
    <!-- htmx cdn -->
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"
        integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz"
        crossorigin="anonymous" ></script>

        <!-- response target ext htmx cdn -->
    <script src="https://cdn.jsdelivr.net/npm/htmx-ext-response-targets@2.0.4"
        integrity="sha384-T41oglUPvXLGBVyRdZsVRxNWnOOqCynaPubjUVjxhsjFTKrFJGEMm3/0KGmNQ+Pg"
        crossorigin="anonymous" ></script>

    <!-- tailwind cdn & fontawesome -->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="https://kit.fontawesome.com/128ce8a98d.js" crossorigin="anonymous" ></script>
    <link rel="icon" href="data:,">
    <link rel="stylesheet" href="../static/css/loader.css">
</head>
{{ end }}

{{ block "loader" . }}
<div id="loader-indicator" class="loader-indicator">
    <div class="loader"></div>
</div>
{{ end }}

{{ block "error-message" . }}
<div id="error-message" hx-swap-oob="true"
    class="w-[70%] capitalize font-semibold flex items-center gap-[1rem] px-[1rem] py-[.5rem]
    border border-red-600 bg-red-300 rounded">
    <i class="fa-solid fa-warning"></i>
    <span>{{ .message }}</span>
</div>
{{ end }}
