{{  block "home" . }}
<!DOCTYPE html>
<html>
    {{  template "head" . }}
    <title>Homepage</title>
    <body hx-ext="response-targets" class="flex flex-col items-center gap-[1.5rem]">
        {{  template "loader" . }}
        <div class="flex flex-col gap-[2rem] w-[70%] mt-[4rem]">
            <div id="header" class="flex justify-between items-center">
                <h1 class="font-bold text-[1.2rem]">SEBLAK99</h1>
                <div class="flex items-center gap-3">
                    {{ if .cred.UserID.Valid }}
                    <span class="font-semibold text-[.9rem] underline">{{  .cred.Email }}</span>
                    <i class="fa-solid fa-user text-gray-600 cursor-pointer" id="user-btn"></i>
                    <div id="user-logout-section" class="hidden w-[15%] absolute top-8 right-[22rem] py-2 px-3 
                      flex flex-col gap-2 bg-white shadow-sm rounded-sm border border-gray-300">
                        <a href="/checkout/history" class="flex items-center gap-5 text-gray-600 cursor-pointer py-2 px-[1rem] hover:bg-blue-600 hover:text-white rounded-sm">
                            <i class="fa-solid fa-history"></i>
                            <span>History</span>
                        </a>
                        <form hx-post="/auth/logout" hx-indicator="#loader-indicator" hx-target-error="#error-message">
                            <input type="hidden" name="_csrf" value="{{ .csrf_token }}">
                            <button class="w-[100%] flex items-center gap-5 cursor-pointer py-2 px-[1rem] text-gray-600 hover:bg-blue-600 hover:text-white rounded-sm" type="submit">
                                <i class="fa-solid fa-door-open"></i>
                                <span>Logout</span>
                            </button>
                        </form>
                    </div>
                    {{ else }}
                    <a class="text-[.9rem] cursor-pointer py-2 px-4 bg-blue-600 text-white rounded hover:bg-blue-800 hover:text-white transition" href="/login">Login</a>
                    {{ end }}
                    <div>
                        <i class="fa-solid fa-shopping-cart text-[1.2rem] pr-2 text-gray-600 cursor-pointer" id="cart-btn"></i>
                        {{ template "cart-count" . }}
                    </div>
                    <div id="cart-section" class="hidden absolute py-[4rem] px-[1.5rem] top-0 right-0 w-[20%] h-[100vh] 
                    border-l border-gray-300 bg-white shadow-md flex flex-col gap-[1rem]">
                        <div class="flex justify-between items-center font-semibold pb-2 border-b">
                            <span>Keranjang</span>
                            <i class="fa-solid fa-close cursor-pointer" id="cart-close-btn"></i>
                        </div>
                        {{ template "cart-menu-section" . }}
                    </div>
                </div>
            </div>
            <div id="content" class="flex flex-col gap-[1.5rem]">
                <div class="corousel-section bg-gray-300 h-[40vh] rounded-sm"></div>
                <div class="order-menu-section flex flex-col gap-[2rem]">
                    <h2 class="uppercase font-bold text-[1.2rem] border-b border-black">Menu</h2>
                    <form hx-post="/cart/add" hx-swap="none" hx-target-error="#error-message" class="flex flex-col gap-[1rem]">
                        <input type="hidden" name="_csrf" value="csrf_token">
                        <div class="flex items-center gap-[.8rem]">
                            {{ range .menu }}
                            <div>
                                <input id="{{ .ID }}" type="radio" name="menu-added" class="hidden peer"
                                value="{{ .ID }};{{ .Name }};{{ .Price }}" required>
                                <label for="{{ .ID }}"
                                class="pl-2 pr-4 py-2 text-sm font-medium text-heading capitalize cursor-pointer
                                peer-checked:bg-blue-600 peer-checked:text-white border border-gray-600 rounded-sm
                                flex gap-[.8rem] items-center">
                                    <div class="bg-gray-300 w-15 h-15 rounded-sm"></div>
                                    <div class="flex flex-col gap-[.3rem]">
                                        <span>{{ .Name }}</span>
                                        <span class="text-[.9rem]">Rp{{ .Price }}</span>
                                    </div>
                                </label>
                            </div>
                            {{ end }}
                        </div>
                        <div>
                            <p class="font-semibold">Choose Quantity:</p>
                            <div class="border border-gray-600 w-[fit-content] px-[.5rem] py-[.3rem] mt-[.5rem] rounded-sm">
                                <button type="button" id="dec-btn" class="border-r border-gray-600 pr-2 cursor-pointer">
                                    <i class="fa-solid fa-minus"></i>
                                </button>
                                <input type="number" name="menu-qty" id="menu-qty" min="1" value="1"
                                class="w-10 font-semibold text-center [appearance:textfield] 
                                [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none">
                                <button type="button" id="inc-btn" class="border-l border-gray-600 pl-2 cursor-pointer">
                                    <i class="fa-solid fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <button type="submit" class="flex items-center justify-center gap-2 px-[.8rem] py-3 cursor-pointer
                        rounded-sm hover:bg-blue-800 bg-blue-600 text-white w-[fit-content] mt-[1rem]">
                            <i class="fa-solid fa-shopping-cart text-[.9rem]"></i>
                            <span class="font-semibold m-0 text-[1rem]">Masuk Keranjang</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
      <div id="error-message"></div>
      <div id="add-signal"></div>
    </body>
    <script>
        document.addEventListener('DOMContentLoaded', function(event) {
            const menuQty = document.getElementById('menu-qty');
            const cartSection = document.getElementById('cart-section');
            document.getElementById('dec-btn').addEventListener('click', function() {
                let x = Number(menuQty.value)
                menuQty.value = x - 1
                if (x === 1) {
                    menuQty.value = 1
                }
            });
            document.getElementById('inc-btn').addEventListener('click', function() {
                let x = Number(menuQty.value)
                menuQty.value = x + 1
            });

            document.getElementById('cart-btn').addEventListener('mousedown', (e) => { e.preventDefault(); });

            document.getElementById('cart-btn').addEventListener('click', function() {
                cartSection.classList.remove('hidden')
            });
            document.getElementById('cart-close-btn').addEventListener('click', function() {
                cartSection.classList.add('hidden')
            });

            document.getElementById('user-btn').addEventListener('mousedown', (e) => { e.preventDefault(); })
            document.getElementById('user-btn').addEventListener('click', () => {
                document.getElementById('user-logout-section').classList.toggle("hidden")
            })
        });
    </script>
</html>
{{ end }}
